<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS_1jUe4fU4L1Vm13_bwSu9n0C-vBtLu0</string>
	<key>GCM_SENDER_ID</key>
	<string>36110136000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pesst</string>
	<key>PROJECT_ID</key>
	<string>pesst-424f5</string>
	<key>STORAGE_BUCKET</key>
	<string>pesst-424f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36110136000:ios:23c52eb625fc99b0f43325</string>
</dict>
</plist>